# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Upload to Pastebin - public'
      'command': 'atom-pastebin:upload_public'
    },
    {
      'label': 'Upload to Pastebin - unlisted'
      'command': 'atom-pastebin:upload_unlisted'
    },
    {
      'label': 'Upload to Pastebin - private'
      'command': 'atom-pastebin:upload_private'
    }

  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-pastebin'
      'submenu': [
        {
          'label': 'Upload to Pastebin - public'
          'command': 'atom-pastebin:upload_public'
        },
        {
          'label': 'Upload to Pastebin - unlisted'
          'command': 'atom-pastebin:upload_unlisted'
        },
        {
          'label': 'Upload to Pastebin - private'
          'command': 'atom-pastebin:upload_private'
        }
      ]
    ]
  }
]
